In [1]:
import pandas as pd

In [2]:
# File paths
sales_folder = r"C:\Users\user\Downloads\Pizza+Place+Sales\pizza_sales"
orders = pd.read_csv(sales_folder + "/orders.csv",encoding="latin-1")
order_details = pd.read_csv(sales_folder + "/order_details.csv",encoding="latin-1")
pizzas = pd.read_csv(sales_folder + "/pizzas.csv",encoding="latin-1")
pizza_types = pd.read_csv(sales_folder + "/pizza_types.csv",encoding="latin-1")

### 1.	What is the total revenue/sales?

In [3]:
details_with_price = order_details.merge(pizzas, on = "pizza_id")
details_with_price

,order_details_id,order_id,pizza_id,quantity,pizza_type_id,size,price
0,1,1,hawaiian_m,1,hawaiian,M,13.25
1,179,77,hawaiian_m,1,hawaiian,M,13.25
2,357,146,hawaiian_m,1,hawaiian,M,13.25
3,389,163,hawaiian_m,1,hawaiian,M,13.25
4,568,247,hawaiian_m,1,hawaiian,M,13.25
...,...,...,...,...,...,...,...
48615,39733,17492,the_greek_xxl,1,the_greek,XXL,35.95
48616,41183,18139,the_greek_xxl,1,the_greek,XXL,35.95
48617,42718,18789,the_greek_xxl,1,the_greek,XXL,35.95
48618,43041,18919,the_greek_xxl,1,the_greek,XXL,35.95
48619,47490,20866,the_greek_xxl,1,the_greek,XXL,35.95

In [4]:
details_with_price["revenue"]=details_with_price["quantity"]*details_with_price["price"]

In [5]:
details_with_price

,order_details_id,order_id,pizza_id,quantity,pizza_type_id,size,price,revenue
0,1,1,hawaiian_m,1,hawaiian,M,13.25,13.25
1,179,77,hawaiian_m,1,hawaiian,M,13.25,13.25
2,357,146,hawaiian_m,1,hawaiian,M,13.25,13.25
3,389,163,hawaiian_m,1,hawaiian,M,13.25,13.25
4,568,247,hawaiian_m,1,hawaiian,M,13.25,13.25
...,...,...,...,...,...,...,...,...
48615,39733,17492,the_greek_xxl,1,the_greek,XXL,35.95,35.95
48616,41183,18139,the_greek_xxl,1,the_greek,XXL,35.95,35.95
48617,42718,18789,the_greek_xxl,1,the_greek,XXL,35.95,35.95
48618,43041,18919,the_greek_xxl,1,the_greek,XXL,35.95,35.95
48619,47490,20866,the_greek_xxl,1,the_greek,XXL,35.95,35.95

In [6]:
total_revenue = details_with_price["revenue"].sum()
print("Total Revenue: ₦",round(total_revenue,2))

Total Revenue: ₦ 817860.05

### 2.	Find the total quantity sold.

In [7]:
total_quantity = details_with_price["quantity"].sum()
print("Total Quantity Sold:", total_quantity)

Total Quantity Sold: 49574

### 3.	Find the total orders

In [8]:
total_orders = orders["order_id"].nunique()
print("Total Orders: ", total_orders)

Total Orders:  21350

### 4.	How many pizza types do they sell?

In [9]:
pizza_types_count = pizza_types["pizza_type_id"].nunique()
print("Total Pizza Types: ",pizza_types_count)

Total Pizza Types:  32

### 5.	Find the average price of the pizzas.

In [10]:
average_price_of_pizzas = pizzas["price"].mean()
print("Average Pizza Price: ₦", round(average_price_of_pizzas,2))

Average Pizza Price: ₦ 16.44

### 6.	What are the peak hours of sales?

In [11]:
orders.head()

   order_id        date      time
0         1  2015-01-01  11:38:36
1         2  2015-01-01  11:57:40
2         3  2015-01-01  12:12:28
3         4  2015-01-01  12:16:31
4         5  2015-01-01  12:21:30

In [12]:
orders.columns

Index(['order_id', 'date', 'time'], dtype='object')

In [13]:
order_details.columns

Index(['order_details_id', 'order_id', 'pizza_id', 'quantity'], dtype='object')

In [14]:
pizzas.columns

Index(['pizza_id', 'pizza_type_id', 'size', 'price'], dtype='object')

In [15]:
# Merge orders + order details + pizzas
orders_with_details = orders.merge(order_details, on = "order_id").merge(pizzas, on = "pizza_id")

# Add revenue column
orders_with_details["revenue"] = orders_with_details["quantity"]*orders_with_details["price"]

# Extract hour from time
orders_with_details["time"] = pd.to_datetime(orders_with_details["time"], format="%H:%M:%S")
orders_with_details["hour"] = orders_with_details["time"].dt.hour

# Group by hour and sum revenue
revenue_per_hour = orders_with_details.groupby("hour")["revenue"].sum().sort_values(ascending=False)
print(revenue_per_hour)

hour
12    111877.90
13    106065.70
18     89296.85
17     86237.45
19     72628.90
16     70055.40
14     59201.40
20     58215.40
15     52992.30
11     44935.80
21     42029.80
22     22815.15
23      1121.35
10       303.65
9         83.00
Name: revenue, dtype: float64

### 7.	Find the total sales made on each day of the week. Which day of the week is when sales are made the most?

In [16]:
# Convert date column to datetime
orders_with_details["date"] = pd.to_datetime(orders_with_details["date"])

# Extract day of the week
orders_with_details["Day_of_week"] = orders_with_details["date"].dt.day_name()

# Group by day of week and sum revenue
sales_per_day = orders_with_details.groupby("Day_of_week")["revenue"].sum()

# Reorder days of week (optional, for better readability)
days_order = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"]
sales_per_day = sales_per_day.reindex(days_order)

print(sales_per_day)
print("\nThe day with highest sales is:", sales_per_day.idxmax(), "with revenue of", sales_per_day.max())

Day_of_week
Monday       107329.55
Tuesday      114133.80
Wednesday    114408.40
Thursday     123528.50
Friday       136073.90
Saturday     123182.40
Sunday        99203.50
Name: revenue, dtype: float64

The day with highest sales is: Friday with revenue of 136073.9

### 8.	Find the top 5 bestselling pizzas.

In [17]:
# Group by pizza and sum quantities
top_pizzas = orders_with_details.groupby("pizza_id")["quantity"].sum().sort_values(ascending=False).head(5)

print("Top 5 Bestselling Pizzas:")
print(top_pizzas)

Top 5 Bestselling Pizzas:
pizza_id
big_meat_s       1914
thai_ckn_l       1410
five_cheese_l    1409
four_cheese_l    1316
classic_dlx_m    1181
Name: quantity, dtype: int64

### 9.	Find the sales made in each month. Any trend noticeable?

In [18]:
# Extract month name
orders_with_details["month"] = orders_with_details["date"].dt.month_name()

# Group by month and sum revenue
sales_per_month = orders_with_details.groupby("month")["revenue"].sum()

# Reorder by calendar order
month_order = ["January", "February", "March", "April", "May", "June", 
               "July", "August", "September", "October", "November", "December"]
sales_per_month = sales_per_month.reindex(month_order)

print(sales_per_month)
print("\nThe best sales month is:", sales_per_month.idxmax(), "with revenue of", sales_per_month.max())

month
January      69793.30
February     65159.60
March        70397.10
April        68736.80
May          71402.75
June         68230.20
July         72557.90
August       68278.25
September    64180.05
October      64027.60
November     70395.35
December     64701.15
Name: revenue, dtype: float64

The best sales month is: July with revenue of 72557.9

### 10.	Are there pizza types that are not doing well on the menu?

In [19]:
pizza_types.columns

Index(['pizza_type_id', 'name', 'category', 'ingredients'], dtype='object')

In [20]:
pizzas.columns

Index(['pizza_id', 'pizza_type_id', 'size', 'price'], dtype='object')

In [21]:
# Merge orders_with_details with pizzas and pizza_types
orders_with_pizzas = orders_with_details.merge(pizzas, on="pizza_id")
orders_with_type = orders_with_pizzas.merge(
    pizza_types, left_on="pizza_type_id_x", right_on="pizza_type_id"
)

# Now group by pizza name to find weakest individual pizzas
sales_by_pizza = orders_with_type.groupby("name")["quantity"].sum().sort_values()

print("Weakest Individual Pizzas (Lowest Sales):")
print(sales_by_pizza.head(10))  # bottom 10 pizzas

Weakest Individual Pizzas (Lowest Sales):
name
The Brie Carre Pizza            490
The Mediterranean Pizza         934
The Calabrese Pizza             937
The Spinach Supreme Pizza       950
The Soppressata Pizza           961
The Spinach Pesto Pizza         970
The Chicken Pesto Pizza         973
The Italian Vegetables Pizza    981
The Chicken Alfredo Pizza       987
The Green Garden Pizza          997
Name: quantity, dtype: int64